/*确定版心*/
.w {
    width: 1190px;
    margin: 0 auto;
    /* background-color: black; */
}

img {
    /* display: block; */
    vertical-align: top;
}

a {
    text-decoration: none;  
    font-size: 12px;
    color: #999;
}

a:hover {
    color: #c81623;
}

body {
    background-color: #f6f6f6;
}

/* 声明字体 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?iw1rro');
    src:  url('../fonts/icomoon.eot?iw1rro#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?iw1rro') format('truetype'),
      url('../fonts/icomoon.woff?iw1rro') format('woff'),
      url('../fonts/icomoon.svg?iw1rro#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0;
}

input,button {
    border: 0;
    outline: none;
}
