/*header模块*/
header {
    height: 80px;
    background-color: #000000;
   /*background-color: #FFFFFF;*/
}
/*------------------------------------------------------------------------------------------------*/


/* 快速导航模块 */
.fast_nav {
    height: 32px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    line-height: 32px; 
}

.nav_left {
    float: left;
}

.nav_right {
    float: right;
}

.fast_nav li {
    float: left;
}
.fast_nav li:hover a , 
.fast_nav li:hover i {
	color: #c81623;
}

.city {
    margin-left: 200px;
}

.fast_nav i {
    font-family: "icomoon";
    font-style: normal;
    color: #ccc;
}

/*.fast_nav i:hover {
	color: #c81623;
}*/

/*.fast_nav a {
	display: block;
}*/

.nav_left_0 {
    color: #f10281 !important;
}

.space {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 12px 12px 0px;
}

.mobile {
	display: block;
    position: relative;
}

.mobile img {
    position: absolute;
    /*left: -55px;*/
    left: -7px;
    /*top: 24px;*/
    top: 0;
    border: 3px solid #ccc;
    /*overflow: hidden;*/
   /*display: none;*/
}
/*------------------------------------------------------------------------------------------------*/


/*中间头部部分*/
.middle {
    position: relative;
    height: 140px;
}

.logo a {
    display: block;
    width: 190px;
    height: 171px;
    background: #fff url(../images/logo.png) no-repeat;
}

.logo {
    /* margin-top: -30px; */
    position: absolute;
    top: -33px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, .3);
}

.search {
    position: absolute;
    top: 25px;
    left: 320px;
    width: 550px;
    height: 35px;
}

.search input {
    width: 495px;
    height: 32px;
    border: 1px solid #f10281;
    /*border-bottom-width: 2px;*/
    float: left;
    font-size: 14px;
    padding-left: 3px;
}

.search input:focus {
	border: 1px solid #000000;
}

.search button {
    width: 50px;
    height: 34px;
    background-color: #c81623;
    /*float: left;*/
    float: right;
}

.search button i {
    font-family: 'icomoon';
    font-style: normal;
    color: #fff;
}

.shopCar {
    position: absolute;
    top: 25px;
    right: 95px;
    width: 188px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    text-align: center;
}

.shopCar i {
    font-family: 'icomoon';
    font-style: normal;
    margin-right: 5px;
    color: #c81623;

}
.shopCar span {
    width: 15px;
    height: 15px;
    background-color: #c81623;
    border-radius: 50%;
    /* 加了绝对定位,固定定位,浮动定位的元素不用转换,直接给宽高 */
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}

.keywords {
    position: absolute;
    top: 68px;
    left: 320px;
    /*margin: 0 auto;*/
}
.keywords .nav_left_0 {
	margin-left: 1px;
}

.keywords li {
	float: left;
	margin-right: 16px;
}

.little_nav {
    width: 770px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 200px;
}

.little_nav li {
    float: left;
    margin-left: 39px;
}
.little_nav li:nth-child(1) {
	margin-left: 36px;
}
.little_nav li a {
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.little_nav li a:hover {
    color: #c81623;
}
/*.little_nav .space {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: -15px;
}*/

.superday {
    position: absolute;
    bottom: 10px;
    right: 0;
}
/*------------------------------------------------------------------------------------------------*/


/* 中间分类模块 */
.grid {
    height: 480px;
}

.grid-left {
    width: 190px;
    height: 100%;
    background-color: #d9d9d9;
    color: #fff;
    font-size: 14px;
}

.grid-left a {
    color: #fff;
    font-size: 14px;
    margin: 0 3px;
}

.grid-left a:hover {
    color: #f10215;
}

.grid-left ul {
    padding-top: 8px;
}

.grid-left ul li {
    padding-left: 31px;
    height: 29px;
    line-height: 29px;
}

.grid-left ul li:hover {
	background-color:#798288 ;
}

.grid-center {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}

.grid-center-bottom div {
    margin-top: 10px;
}

.grid-center-top {
    position: relative;
}

.arrow-left {
    position: absolute;
    top:50%;
    left: 0;
    width: 30px;
    height: 60px; 
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color:#fff;
}

.arrow-right {
    position: absolute;
    top:50%;
    right: 0;
    width: 30px;
    height: 60px;
    background-color: pink;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color:#fff;
}

.circle {
    width: 165px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 38%;
    bottom: 20px;
    transform: translateY(-50%);
    border-radius: 10px;
    padding-left: 6px;
}

.circle li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: 4px 4px 0;
    /*line-height: 12px;*/
    float: left;
}

.circle .curent {
    background-color: #f10215;
}


.grid-right {
    width: 190px;
    height: 100%;
    /* background-color: #051c2b; */
}
.login {
    height: 115px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}

.login-top {
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    /* 强制一行显示 */
    white-space: nowrap; 
    /* 溢出部分隐藏 */
    overflow: hidden;
    /* 超出的部分显示省略号 */
    text-overflow: ellipsis;
    color: #666;
    padding-left: 10px;
}

.login-top a {
    color: #666;
}

.login-top a:hover {
    color: #f10215;
}

.login-bottom a {
    display: inlineblock;
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    margin:0 10px;
    text-align: center;
    line-height: 20px;
    color: #f10215;
}

.login-bottom a:hover {
    background-color: #f10215;
    color:#ffff;
}

.news {
    height: 155px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink; */
    padding: 7px 13px 0;
    box-sizing: border-box;
}

.news-top {
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.news-top a {
    float: left;
    line-height: 17px;
}

.sell {
    width: 38px;
    height: 17px;
    border-right: 1px solid #ccc;

}
	
.sign {
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #CCCCCC;
}
.news-top .more {
	position: absolute;
	right: 20px;
    float: right;
}

.news-top div {
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.news-bottom {
    padding-top: 15px ;
    line-height: 23px;

}

.news-bottom li a {
    color: black;
}


.expand {
    height: 208px;
    border-top: 2px solid transparent;
    /*border-bottom: 1px solid #ccc;*/
    background-color: #fff;
   
}

.expand {
    overflow: hidden;
}

.expand ul {
    width: 195px;
}

.expand li {
    width: 47px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
}

.expand li a {
    display: block;
    padding-top: 15px;
}

.expand li span {
    padding-left: 10px;
}

.expand li i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: url(../images/sprite_fs@1x.png) no-repeat;
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
    
}
/*.expand li:first-child i {
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
}*/
/*------------------------------------------------------------------------------------------------*/


/*底部部分*/
footer {
    margin-top: 35px;
    height: 500px;
    background-color: #EAEAEA;
}

.service {
    /* height: 102px; */
    padding: 30px 0;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.service ul li {
    position: relative;
    float: left;
    width: 297px;
    height: 43px;
    line-height: 43px;
}

.service  li h2 {
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    background-color: powderblue;
    background: url(../images/ico.png) no-repeat;
}

.service  li p {
    font-weight: 700;
    margin-left: 82px;
}

.service  li:nth-child(2) h2 {
    background-position: 0 -43px;
}

.service  li:nth-child(3) h2 {
    background-position: 0 -86px;
}

.service  li:nth-child(4) h2 {
    background-position: 0 -129px;
}

.help {
    height: 200px;
    border-bottom: 1px solid #999;
    padding-top: 25px;
    box-sizing: border-box;
}


.help dl {
    float: left;
    width: 192px;
    /*color: #666;*/
}
.help dl a {
	color: #666;
}

.help a:hover dd {
	color: red;
}

.help dt {
	font-weight: bold;
    height: 30px;
    font-size: 14px;
    /*color: #666;*/
}

.help dd {
    height: 22px;
    font-size: 14px;
    /*color: #666;*/
}

.coverage {
    width: 200px;
    height: 150px;
    background-color: #c81623;
    background: url(../images/ico_footer.png) no-repeat;
}

.coverage h5 {
    height: 30px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.coverage p {
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

.coverage a {
    display: block;
    margin-top: 5px;
    width: 180px;
    text-align: right;
}


.copyright {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.copyright span {
    padding: 0 10px;
}

.copyright a {
    color: #666;
}
.copyright a:hover {
	color: red;
}

.copyright div {
    margin-top: 20px;

}
.copyright div p {
    line-height: 22px;
}

